/* --------------- Como Comprar -----------------*/

@import "../utilidades/variables";


.comprar{

    background-color: $color_fondo;
    padding: 15px;
    display: flex;
    flex-direction: column;

    header{

        section{
            img{
                width: 10%;
                object-fit: cover;
            }
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: $color-nav;
                    }
                }
            }
        }
    }

    section{

        h1{
            text-align: center;
            color: $color-primario;
            text-decoration: underline;
        }
        p{
            margin-top: 30px;
            margin-left: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
        }

        ul{
            margin: 25px;
            li{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 600;
                margin: 10px;
            }
        }
    }

    footer{
        width: 100%;
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin-top: 50px;
        gap: 10px;
    
        .navegacion{
    
            width: 100%;
            height: auto;
            grid-column: 1 / 2;
            grid-row: 1 / 2; 
           
            h3{
                text-align: center;
            }
    
            ul{
                width: 100%;
                li{
                    list-style: none;
                    gap: 5px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 10px;
    
                    .p1{
                        text-decoration: none;
                        color: $color-nav;
                        grid-column: 1 / 2;
                        position: relative;
                        left: 40px;
                    }
                    .p2{
                        text-decoration: none;
                        color: $color-nav;
                        grid-column: 2 / 3;
                        position: relative;
                        bottom: 90px;
                    }
                }
    
                
            }  
        
        }
        
        .pagos{
            
            grid-column: 2 / 3;
            grid-row: 1 / 2;
    
            h3{
                text-align: center;
            }
           
            p{
                font-weight: 500;
                position: relative;
                left: 40px;
            }
        }
        
        .envios{
        
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            
            
            h3{
                text-align: center;
            }
        }
    
        .contacto{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            
    
            h3{
                text-align: center;
                
            }
            
            p{
                text-align: center;
            }
    
        }
    }

}

@media screen and (min-width:768px) {
    
    .comprar{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        header{
            display: flex;
            width: 100%;
            section{
                width: 80px;
                height: auto;
                
                img{
                    width: 100%;
                }
            }

            nav{
                flex-grow: 1;
                position: relative;
                right: 50px;
                margin-top: 50px;
                ul{
                    li{
                        a{
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .comocomprar{
            width: 80%;
            margin-top: 30px;
            p{
                margin: 30px;
            }

            ul{
                margin: 50px;
                li{
                    margin-top: 30px;
                }
            }
        }

        footer{
            margin-top: 30px;

            .navegacion{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }
                ul{
                    li{
                        .p1{
                            position: relative;
                            left: 50px;
                            font-weight: 600;
                        }
                        .p2{
                            font-weight: 600;
                        }
                    }
                }
            }

            .pagos{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }

                p{
                    font-weight: 600;
                }
            }

            .contacto{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }

                font-weight: 600;
            }

            .envios{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    
    .comprar{
        
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h1{
                font-size: 50px;
                
            }

            ul{
                width: 70%;
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                
                li{
                    margin: 20px;
                }
            }
        }

        footer{
            margin-top: 100px;
            .navegacion{
                position: relative;
                bottom: 50px;
                ul{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    
                    li{
                       margin: 0 2px; 
                        .p1{
                           margin-top: 20px; 
                           font-size: 20px;
                           font-weight: 600;
                           letter-spacing: 2px;
                        }
    
                        .p2{
                            position: relative;
                            top: 20px;
                            margin-left: -60px;
                            font-size: 20px;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
    
            .pagos{
                position: relative;
                bottom: 50px;
                display: flex;
                flex-direction: column;
                
                p{
                    flex-direction: row;
                    font-weight: 600;
                    margin: 10px;
                }
            }

            .contacto{
                p{
                    font-weight: 600
                }
            }
        }
    }
}