@import "../utilidades/variables";

/*------------- Nosotros ------------*/


.nosotros{
    *{
        margin-top: 0;
        padding: 0;
        box-sizing: border-box;
    }

    width: 100%;
    height: auto;
    background-color: $color_fondo;
    padding: 10px;


    header{

        .logo{
            
            img{
                width: 10%;
                object-fit: cover;
            }
        }
        nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: $color-nav;
                    }
                }
            }
        }
    }

    .description{
        width: 100%;
        margin-top: 10px;
        border: solid 4px black ;
        box-shadow: 0 0 3px rgb(0, 0, 0, 1.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            text-align: center;
            color: $color-primario;
            text-decoration: underline;
            margin-top:  30px;
         }

        p{
            margin-top: 20px;
            padding: 7px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 2px;
            font-weight: 600;
        }

        p::before{
            content: ". ";
            color: $color-primario;
        }
    }

    footer{
        width: 100%;
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin-top: 50px;
        gap: 10px;
        
        .navegacion{

            width: 100%;
            height: auto;
            grid-column: 1 / 2;
            grid-row: 1 / 2; 
            margin-left: 30px;

            h3{
                    text-align: center;
            }

            ul{
                width: 100%;
                li{
                    list-style: none;
                    
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 10px;

                    .p1{
                        text-decoration: none;
                        color: $color-nav;
                        grid-column: 1 / 2;
                        position: relative;
                        left: 40px;
                    
                    }
                    .p2{
                        text-decoration: none;
                        color: $color-nav;
                        grid-column: 2 / 3;
                        position: relative;
                        left: 20px;
                        bottom: 90px;
                    }
                }

            
            }  
    
        }
    
        .pagos{
        
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            h3{
                text-align: center;
            }
       
            p{
                font-weight: 500;
                position: relative;
                left: 40px;
                margin: 10px;
            }
        }
    
        .envios{
    
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        
        
            h3{
                text-align: center;
            }
        }

        .contacto{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 10px;
            left: 15px;

            h3{
                text-align: center;
            
            }
        
            p{
                text-align: center;
                margin: 8px;
            }

        }

        .envios{
            h3{
                margin-left: 10px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        header{
            width: 100%;
            display: flex;
            

            .logo{
                width: 80px;
                height: auto;
                

                img{
                    width: 100%;
                }
            }

            nav{
                margin-top: 100px;
                flex-grow: 1;
                position: relative;
                right: 50px;
                ul{
                    li{
                        a{
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .description{
            width: 80%;
            padding: 5px;
            border: solid 5px black;
            box-shadow: 0 0 3px rgba(0, 0, 0, 1.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        footer{
            .navegacion{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                    
                }

                ul{
                    li{
                        .p1{
                            position: relative;
                            left: 60px;
                            font-weight: 600;
                        }

                        .p2{
                            margin-left: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .pagos{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }

                p{
                    font-weight: 600;
                }
            }

            .contacto{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }

                p{
                    font-weight: 600;
                }
            }

            .envios{
                h3{
                    font-size: x-large;
                    letter-spacing: 2px;
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {
    
    .nosotros{

        header{
            
            nav{
                ul{
                    li{
                        a{
                            font-size: x-large;
                        }
                    }
                }
            }
        } 

        .description{
            width: 70%;
            padding: 50px;

            h1{
                position: relative;
                bottom: 30px;
                font-size: 50px;
            }

            p{
                font-size: large;
            }
        }

        footer{

            margin-top: 100px;

            .navegacion{
                position: relative;
                bottom: 50px;
                ul{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    
                    li{
                       margin: 0 2px; 
                        .p1{
                           margin-top: 20px; 
                           font-size: 20px;
                           font-weight: 600;
                           letter-spacing: 2px;
                        }
    
                        .p2{
                            position: relative;
                            top: 20px;
                            margin-left: -60px;
                            font-size: 20px;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
    
            .pagos{
                position: relative;
                bottom: 50px;
                display: flex;
                flex-direction: column;
                
                p{
                    flex-direction: row;
                    font-weight: 600;
                    margin: 10px;
                }
            }

            .contacto{
                p{
                    font-weight: 600
                }
            }
        }
    }
}