* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cuerpo {
  background-color: grey;
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 15px;
  gap: 15px;
}

.nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav ul li a {
  color: blanchedalmond;
  text-decoration: none;
}

.carruzel {
  justify-content: center;
  align-items: center;
}
.carruzel img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.contenido {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}
.contenido img {
  width: 70%;
  height: auto;
  margin-top: 25px;
}
.contenido h2 {
  color: salmon;
}

h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
  margin-top: 30px;
}

/* -------- footer -------- */
footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 25% 25%;
  margin-top: 25px;
}

.navegacion {
  width: 100%;
}
.navegacion ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.navegacion ul li {
  list-style: none;
}
.navegacion ul li a {
  text-decoration: none;
  color: blanchedalmond;
  display: block;
}

.p1 {
  grid-row: 1;
  margin-left: -15px;
}

.p2 {
  grid-row: 2;
  margin-left: -15px;
}

.pagos {
  margin-left: 30px;
}
.pagos p {
  margin: 5px 0;
}

.envios {
  grid-column: span 2;
  align-content: center;
  margin-top: -40px;
}
.envios h3 {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .carruzel {
    height: 300px;
  }
  .carruzel .img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  h1 {
    margin-top: 5px;
  }
  .contenido {
    display: flex;
    display: grid;
    width: 100%;
    height: 70vh;
    margin-top: -10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80% 20%;
  }
  .contenido .img1 {
    grid-column: span 1;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    margin-top: 20%;
  }
  .contenido .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    margin-top: 20%;
  }
  .contenido .img3 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    margin-top: 20%;
  }
  .contenido .smartwatch {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 80px;
  }
  .contenido .celulares {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 80px;
  }
  .contenido .auriculares {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 80px;
  }
  .contenido h2 {
    color: salmon;
  }
  footer {
    margin-top: -20px;
    height: 30vh;
  }
}
/* ----------PRODUCTOS-------------*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product {
  position: relative;
  text-align: right;
  margin-right: 50px;
  margin-top: -20px;
  padding: 20px;
  color: salmon;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

.menu h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  color: salmon;
}

.tecno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 15% 30% 15%;
  gap: 20px;
  width: 100%;
  height: auto;
  margin-left: -10px;
}
.tecno .imgA {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgB {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgC {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgD {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno p {
  text-align: center;
  margin-top: 20%;
  color: aquamarine;
}

@media screen and (min-width: 600px) {
  .tecno .imgA, .tecno .imgB, .tecno .imgC, .tecno .imgD {
    width: 80%;
    margin-left: 5%;
  }
  .tecno p {
    margin-right: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .tecno {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80% 18%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    object-fit: cover;
  }
  .tecno .imgA {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .tecno .imgB {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .tecno .imgC {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .tecno .imgD {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
  }
  .tecno .nombreA {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreB {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreC {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreD {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  footer {
    margin-top: 5%;
  }
}
/* ------------ HTML de Contactos ---------------- */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contacto {
  background-color: gray;
  margin-left: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2%;
  display: grid;
  grid-template-areas: "nav nav nav" "cont1 cont1 cont1" "cont2 cont2 cont2" "footer footer footer";
}
.contacto header {
  grid-area: nav;
}
.contacto .cont1 {
  grid-area: cont1;
}
.contacto .cont2 {
  grid-area: cont2;
}
.contacto footer {
  grid-area: footer;
}
.contacto header nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  margin-bottom: 15%;
}
.contacto header nav ul {
  list-style: none;
}
.contacto header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
.contacto .cont1 {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.contacto .cont1 h1 {
  text-align: center;
  position: relative;
  bottom: 250%;
  left: 50%;
  margin-bottom: 40px;
}
.contacto .cont1 .p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  position: relative;
  bottom: 10px;
}
.contacto .cont1 .p1 img {
  width: 15%;
  height: auto;
  position: relative;
  top: 15px;
}
.contacto .cont1 .p2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}
.contacto .cont1 .p2 img {
  width: 10%;
  height: auto;
  position: relative;
  top: 10px;
}
.contacto .cont1 .p3 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
}
.contacto .cont1 .p3 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contacto .cont1 .p4 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
}
.contacto .cont1 .p4 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contacto .cont2 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 42% 42% 16%;
}
.contacto .cont2 .input1 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: 5%;
}
.contacto .cont2 label input[type=text]:focus {
  transition: width height 0.3s ease forwards;
  width: 200px;
  height: 50px;
}
.contacto .cont2 .input2 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: 30%;
}
.contacto .cont2 label input[type=tel]:focus {
  transition: width height 0.3s ease forwards;
  width: 200px;
  height: 50px;
}
.contacto .cont2 .input3 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: 55%;
}
.contacto .cont2 label input[type=email]:focus {
  transition: width height 0.3s ease forwards;
  width: 200px;
  height: 50px;
}
.contacto .cont2 .input4 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.contacto .cont2 .enviar {
  display: flex;
  grid-column: 1/3;
  grid-row: 3/4;
  width: 30%;
  height: 50%;
  background-color: cornflowerblue;
  justify-self: center;
  align-self: center;
  justify-content: center;
}
.contacto footer {
  margin-top: 40px;
}
.contacto footer .navegacion ul {
  margin-top: 15px;
  margin-left: 10px;
}
.contacto footer .pagos p {
  margin: 10px;
}
.contacto footer .contacto {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=estiloss.css.map */
