@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
@keyframes escala_foto {
  0% {
    transform: scale(0, 0);
  }
  30% {
    transform: scale(1, 1);
  }
}
.cuerpo {
  background-color: gray;
  width: 100%;
  height: auto;
  padding: 15px;
  gap: 15px;
  /* -------- footer -------- */
}
.cuerpo * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cuerpo header .nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.cuerpo header .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.cuerpo header .nav ul li a {
  color: blanchedalmond;
  text-decoration: none;
}
.cuerpo header section img {
  width: 10%;
  object-fit: cover;
}
.cuerpo .carruzel {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cuerpo .carruzel img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.cuerpo h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
  margin-top: 30px;
}
.cuerpo .contenido {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}
.cuerpo .contenido img {
  width: 70%;
  height: auto;
  margin-top: 25px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.cuerpo .contenido img:hover {
  transform: scale(1.1);
}
.cuerpo .contenido h2 {
  color: salmon;
}
.cuerpo footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
.cuerpo footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
.cuerpo footer .navegacion h3 {
  text-align: center;
}
.cuerpo footer .navegacion ul {
  width: 100%;
}
.cuerpo footer .navegacion ul li {
  list-style: none;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.cuerpo footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
  left: 20px;
}
.cuerpo footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  bottom: 100px;
}
.cuerpo footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
.cuerpo footer .pagos h3 {
  text-align: center;
}
.cuerpo footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
}
.cuerpo footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
.cuerpo footer .envios h3 {
  text-align: center;
}
.cuerpo footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.cuerpo footer .contacto h3 {
  text-align: center;
}
.cuerpo footer .contacto p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cuerpo header section {
    width: 80px;
    height: auto;
  }
  .cuerpo header section img {
    width: 100%;
  }
  .cuerpo header nav ul li a {
    font-size: 25px;
  }
  .cuerpo .carruzel {
    height: 200px;
  }
  .cuerpo .carruzel .img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .cuerpo h1 {
    margin-top: 50px;
  }
  .cuerpo .contenido {
    display: flex;
    display: grid;
    width: 100%;
    height: 70vh;
    margin-top: -20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80% 20%;
    overflow: hidden;
  }
  .cuerpo .contenido .img1 {
    grid-column: span 1;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .cuerpo .contenido .img1:hover {
    transform: scale(1.2);
  }
  .cuerpo .contenido .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .cuerpo .contenido .img2:hover {
    transform: scale(1.2);
  }
  .cuerpo .contenido .img3 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .cuerpo .contenido .img3:hover {
    transform: scale(1.2);
  }
  .cuerpo .contenido .smartwatch {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .cuerpo .contenido .celulares {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .cuerpo .contenido .auriculares {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .cuerpo .contenido h2 {
    color: salmon;
  }
  .cuerpo footer {
    margin-top: -20px;
    height: 30vh;
  }
  .cuerpo footer .navegacion h3 {
    font-size: x-large;
    letter-spacing: 2px;
    text-align: center;
  }
  .cuerpo footer .navegacion ul li .p1 {
    position: relative;
    left: 70px;
  }
  .cuerpo footer .navegacion ul li .p2 {
    position: relative;
    left: 40px;
  }
  .cuerpo footer .pagos h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .cuerpo footer .pagos p {
    position: relative;
    left: 100px;
  }
  .cuerpo footer .contacto {
    margin-top: 10px;
  }
  .cuerpo footer .contacto h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .cuerpo footer .contacto p {
    font-weight: 600;
    margin: 10px;
  }
  .cuerpo footer .envios h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .cuerpo header ul li a {
    font-size: 30px;
  }
  .cuerpo footer {
    margin-top: 30px;
  }
  .cuerpo footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  .cuerpo footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cuerpo footer .navegacion ul li {
    margin: 0 2px;
  }
  .cuerpo footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .cuerpo footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .cuerpo footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .cuerpo footer .pagos p {
    flex-direction: row;
    font-weight: 600;
    margin: 10px;
  }
  .cuerpo footer .contacto p {
    font-weight: 600;
  }
}
/* ----------PRODUCTOS-------------*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
@keyframes escala_foto {
  0% {
    transform: scale(0, 0);
  }
  30% {
    transform: scale(1, 1);
  }
}
.productos {
  background-color: gray;
  width: 100%;
  height: auto;
  padding: 15px;
}
.productos * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productos header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.productos header nav ul {
  list-style: none;
}
.productos header nav ul li a {
  color: blanchedalmond;
  text-decoration: none;
}
.productos header section img {
  width: 10%;
  object-fit: cover;
}
.productos .product {
  position: relative;
  text-align: right;
  margin-right: 50px;
  margin-top: -20px;
  padding: 20px;
  color: salmon;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.productos .menu h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  color: salmon;
}
.productos .tecno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 15% 30% 15%;
  gap: 20px;
  width: 100%;
  height: auto;
  margin-left: -10px;
}
.productos .tecno .imgA {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
  transition: transform 0.3s ease;
}
.productos .tecno .imgA:hover {
  transform: scale(1.1);
}
.productos .tecno .imgB {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
  transition: transform 0.3s ease;
}
.productos .tecno .imgB:hover {
  transform: scale(1.1);
}
.productos .tecno .imgC {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
  transition: transform 0.3s ease;
}
.productos .tecno .imgC:hover {
  transform: scale(1.1);
}
.productos .tecno .imgD {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
  transition: transform 0.3s ease;
}
.productos .tecno .imgD:hover {
  transform: scale(1.1);
}
.productos .tecno p {
  text-align: center;
  margin-top: 20%;
  color: aquamarine;
}
.productos footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
.productos footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
.productos footer .navegacion h3 {
  text-align: center;
}
.productos footer .navegacion ul {
  width: 100%;
}
.productos footer .navegacion ul li {
  list-style: none;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.productos footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
  left: 20px;
}
.productos footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  bottom: 100px;
}
.productos footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
.productos footer .pagos h3 {
  text-align: center;
}
.productos footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
}
.productos footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
.productos footer .envios h3 {
  text-align: center;
}
.productos footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.productos footer .contacto h3 {
  text-align: center;
}
.productos footer .contacto p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .productos header section {
    width: 80px;
    height: auto;
  }
  .productos header section img {
    width: 100%;
  }
  .productos header nav ul li a {
    font-size: 25px;
  }
  .productos .tecno .imgA, .productos .tecno .imgB, .productos .tecno .imgC, .productos .tecno .imgD {
    width: 80%;
    margin-left: 5%;
  }
  .productos .tecno p {
    margin-right: 10%;
  }
  .productos footer {
    margin-top: -20px;
    height: 30vh;
  }
  .productos footer .navegacion h3 {
    font-size: x-large;
    letter-spacing: 2px;
    text-align: center;
  }
  .productos footer .navegacion ul li .p1 {
    position: relative;
    left: 70px;
  }
  .productos footer .navegacion ul li .p2 {
    position: relative;
    left: 40px;
  }
  .productos footer .pagos h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .productos footer .pagos p {
    position: relative;
    left: 100px;
  }
  .productos footer .contacto {
    margin-top: 10px;
  }
  .productos footer .contacto h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .productos footer .contacto p {
    font-weight: 600;
    margin: 10px;
  }
  .productos footer .envios h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .productos .tecno {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80% 18%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    object-fit: cover;
  }
  .productos .tecno .imgA {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: center;
    object-fit: cover;
  }
  .productos .tecno .imgB {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .productos .tecno .imgC {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .productos .tecno .imgD {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .productos .tecno .nombreA {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .productos .tecno .nombreB {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .productos .tecno .nombreC {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .productos .tecno .nombreD {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .productos footer {
    margin-top: 100px;
  }
  .productos footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  .productos footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .productos footer .navegacion ul li {
    margin: 0 2px;
  }
  .productos footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .productos footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .productos footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .productos footer .pagos p {
    flex-direction: row;
    font-weight: 600;
    margin: 10px;
  }
  .productos footer .contacto p {
    font-weight: 600;
  }
}
/* ------------ HTML de Contactos ---------------- */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
@keyframes escala_foto {
  0% {
    transform: scale(0, 0);
  }
  30% {
    transform: scale(1, 1);
  }
}
.contactanos {
  background-color: gray;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-areas: "nav nav nav" "cont1 cont1 cont1" "cont2 cont2 cont2" "footer footer footer";
}
.contactanos * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contactanos header {
  grid-area: nav;
}
.contactanos .cont1 {
  grid-area: cont1;
}
.contactanos .cont2 {
  grid-area: cont2;
}
.contactanos footer {
  grid-area: footer;
}
.contactanos header section img {
  width: 10%;
  object-fit: cover;
}
.contactanos header nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contactanos header nav ul {
  list-style: none;
}
.contactanos header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
.contactanos .cont1 .redes {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.contactanos .cont1 .redes .p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  font-size: 20px;
  align-self: center;
}
.contactanos .cont1 .redes .p1 img {
  width: 10%;
  height: auto;
  justify-self: center;
  align-items: center;
}
.contactanos .cont1 .redes .p2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 20px;
  align-self: center;
}
.contactanos .cont1 .redes .p2 img {
  width: 10%;
  height: auto;
  position: relative;
  top: 10px;
}
.contactanos .cont1 .redes .p3 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.contactanos .cont1 .redes .p3 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contactanos .cont1 .redes .p4 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.contactanos .cont1 .redes .p4 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contactanos .cont1 h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
  margin-top: 30px;
}
.contactanos .cont2 {
  width: 100%;
  height: 60vh;
  display: block;
  flex-direction: column;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  border: solid 3px black;
  padding: 15px;
  margin-top: 30px;
}
.contactanos .cont2 .input1 {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 20px;
}
.contactanos .cont2 .escribir {
  border: solid 3px black;
}
.contactanos .cont2 .enviar {
  display: flex;
  width: 15%;
  height: 30%;
  background-color: cornflowerblue;
  justify-self: center;
  align-self: center;
  justify-content: center;
  margin: 15px;
}
.contactanos .cont2 button[type=submit]:hover {
  cursor: pointer;
}
.contactanos footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
.contactanos footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
.contactanos footer .navegacion h3 {
  text-align: center;
}
.contactanos footer .navegacion ul {
  width: 100%;
}
.contactanos footer .navegacion ul li {
  list-style: none;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.contactanos footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
  left: 50px;
}
.contactanos footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  bottom: 90px;
}
.contactanos footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
.contactanos footer .pagos h3 {
  text-align: center;
}
.contactanos footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
  margin: 5px;
}
.contactanos footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
.contactanos footer .envios h3 {
  text-align: center;
}
.contactanos footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.contactanos footer .contacto h3 {
  text-align: center;
}
.contactanos footer .contacto p {
  text-align: center;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .contactanos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    object-fit: contain;
  }
  .contactanos header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .contactanos header section {
    width: 80px;
    height: auto;
    display: flex;
    justify-self: flex-start;
  }
  .contactanos header section img {
    width: 100%;
  }
  .contactanos header nav {
    flex-grow: 1;
    margin-top: 50px;
    position: relative;
    right: 30px;
  }
  .contactanos header nav ul li a {
    font-size: 30px;
    text-align: center;
  }
  .contactanos .cont1 {
    margin-top: 30px;
  }
  .contactanos .cont1 .redes .p1 {
    font-weight: 600;
  }
  .contactanos .cont1 .redes .p2 {
    font-weight: 600;
  }
  .contactanos .cont1 .redes .p3 {
    font-weight: 600;
  }
  .contactanos .cont1 .redes .p4 {
    font-weight: 600;
  }
  .contactanos .cont1 .h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .contactanos .cont2 {
    width: 70%;
    padding: 20px;
    border: solid 4px black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 15%;
  }
  .contactanos .cont2 .escribir {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  .contactanos .cont2 .enviar {
    width: 10%;
    height: 40%;
  }
  .contactanos footer {
    margin-top: 50px;
    height: 30vh;
  }
  .contactanos footer .navegacion h3 {
    font-size: x-large;
    letter-spacing: 2px;
    text-align: center;
  }
  .contactanos footer .navegacion ul li .p1 {
    position: relative;
    left: 70px;
  }
  .contactanos footer .navegacion ul li .p2 {
    position: relative;
    left: 40px;
  }
  .contactanos footer .pagos h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .contactanos footer .pagos p {
    position: relative;
    left: 100px;
  }
  .contactanos footer .contacto {
    margin-top: 10px;
  }
  .contactanos footer .contacto h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .contactanos footer .contacto p {
    font-weight: 600;
    margin: 10px;
  }
  .contactanos footer .envios h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .contactanos .cont2 {
    width: 60%;
    margin-left: 20%;
  }
  .contactanos footer {
    margin-top: 100px;
  }
  .contactanos footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  .contactanos footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contactanos footer .navegacion ul li {
    margin: 0 2px;
  }
  .contactanos footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .contactanos footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .contactanos footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .contactanos footer .pagos p {
    flex-direction: row;
    font-weight: 600;
    margin: 10px;
  }
  .contactanos footer .contacto p {
    font-weight: 600;
  }
}
/*------------- Nosotros ------------*/
.nosotros {
  width: 100%;
  height: auto;
  background-color: gray;
  padding: 10px;
}
.nosotros * {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}
.nosotros header .logo img {
  width: 10%;
  object-fit: cover;
}
.nosotros header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nosotros header nav ul {
  list-style: none;
}
.nosotros header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
.nosotros .description {
  width: 100%;
  margin-top: 10px;
  border: solid 4px black;
  box-shadow: 0 0 3px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros .description h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
  margin-top: 30px;
}
.nosotros .description p {
  margin-top: 20px;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}
.nosotros .description p::before {
  content: ". ";
  color: salmon;
}
.nosotros footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
.nosotros footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 30px;
}
.nosotros footer .navegacion h3 {
  text-align: center;
}
.nosotros footer .navegacion ul {
  width: 100%;
}
.nosotros footer .navegacion ul li {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.nosotros footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
  left: 40px;
}
.nosotros footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  left: 20px;
  bottom: 90px;
}
.nosotros footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
.nosotros footer .pagos h3 {
  text-align: center;
}
.nosotros footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
  margin: 10px;
}
.nosotros footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
.nosotros footer .envios h3 {
  text-align: center;
}
.nosotros footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
  left: 15px;
}
.nosotros footer .contacto h3 {
  text-align: center;
}
.nosotros footer .contacto p {
  text-align: center;
  margin: 8px;
}
.nosotros footer .envios h3 {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros header {
    width: 100%;
    display: flex;
  }
  .nosotros header .logo {
    width: 80px;
    height: auto;
  }
  .nosotros header .logo img {
    width: 100%;
  }
  .nosotros header nav {
    margin-top: 100px;
    flex-grow: 1;
    position: relative;
    right: 50px;
  }
  .nosotros header nav ul li a {
    font-size: 25px;
  }
  .nosotros .description {
    width: 80%;
    padding: 5px;
    border: solid 5px black;
    box-shadow: 0 0 3px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros footer .navegacion h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .nosotros footer .navegacion ul li .p1 {
    position: relative;
    left: 60px;
    font-weight: 600;
  }
  .nosotros footer .navegacion ul li .p2 {
    margin-left: 20px;
    font-weight: 600;
  }
  .nosotros footer .pagos h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .nosotros footer .pagos p {
    font-weight: 600;
  }
  .nosotros footer .contacto h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .nosotros footer .contacto p {
    font-weight: 600;
  }
  .nosotros footer .envios h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .nosotros header nav ul li a {
    font-size: x-large;
  }
  .nosotros .description {
    width: 70%;
    padding: 50px;
  }
  .nosotros .description h1 {
    position: relative;
    bottom: 30px;
    font-size: 50px;
  }
  .nosotros .description p {
    font-size: large;
  }
  .nosotros footer {
    margin-top: 100px;
  }
  .nosotros footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  .nosotros footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nosotros footer .navegacion ul li {
    margin: 0 2px;
  }
  .nosotros footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .nosotros footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .nosotros footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .nosotros footer .pagos p {
    flex-direction: row;
    font-weight: 600;
    margin: 10px;
  }
  .nosotros footer .contacto p {
    font-weight: 600;
  }
}
/* --------------- Como Comprar -----------------*/
.comprar {
  background-color: gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.comprar header section img {
  width: 10%;
  object-fit: cover;
}
.comprar header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comprar header nav ul {
  list-style: none;
}
.comprar header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
.comprar section h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
}
.comprar section p {
  margin-top: 30px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.comprar section ul {
  margin: 25px;
}
.comprar section ul li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin: 10px;
}
.comprar footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
.comprar footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
.comprar footer .navegacion h3 {
  text-align: center;
}
.comprar footer .navegacion ul {
  width: 100%;
}
.comprar footer .navegacion ul li {
  list-style: none;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.comprar footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
  left: 40px;
}
.comprar footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  bottom: 90px;
}
.comprar footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
.comprar footer .pagos h3 {
  text-align: center;
}
.comprar footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
}
.comprar footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
.comprar footer .envios h3 {
  text-align: center;
}
.comprar footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.comprar footer .contacto h3 {
  text-align: center;
}
.comprar footer .contacto p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comprar header {
    display: flex;
    width: 100%;
  }
  .comprar header section {
    width: 80px;
    height: auto;
  }
  .comprar header section img {
    width: 100%;
  }
  .comprar header nav {
    flex-grow: 1;
    position: relative;
    right: 50px;
    margin-top: 50px;
  }
  .comprar header nav ul li a {
    font-size: 25px;
  }
  .comprar .comocomprar {
    width: 80%;
    margin-top: 30px;
  }
  .comprar .comocomprar p {
    margin: 30px;
  }
  .comprar .comocomprar ul {
    margin: 50px;
  }
  .comprar .comocomprar ul li {
    margin-top: 30px;
  }
  .comprar footer {
    margin-top: 30px;
  }
  .comprar footer .navegacion h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .comprar footer .navegacion ul li .p1 {
    position: relative;
    left: 50px;
    font-weight: 600;
  }
  .comprar footer .navegacion ul li .p2 {
    font-weight: 600;
  }
  .comprar footer .pagos h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .comprar footer .pagos p {
    font-weight: 600;
  }
  .comprar footer .contacto {
    font-weight: 600;
  }
  .comprar footer .contacto h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
  .comprar footer .envios h3 {
    font-size: x-large;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .comprar section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comprar section h1 {
    font-size: 50px;
  }
  .comprar section ul {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .comprar section ul li {
    margin: 20px;
  }
  .comprar footer {
    margin-top: 100px;
  }
  .comprar footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  .comprar footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .comprar footer .navegacion ul li {
    margin: 0 2px;
  }
  .comprar footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .comprar footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .comprar footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .comprar footer .pagos p {
    flex-direction: row;
    font-weight: 600;
    margin: 10px;
  }
  .comprar footer .contacto p {
    font-weight: 600;
  }
}

/*# sourceMappingURL=estiloss.css.map */
