@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cuerpo {
  background-color: grey;
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 15px;
  gap: 15px;
}

.nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav ul li a {
  color: blanchedalmond;
  text-decoration: none;
}

.carruzel {
  justify-content: center;
  align-items: center;
}
.carruzel img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: salmon;
  text-decoration: underline;
  margin-top: 30px;
}

.contenido {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}
.contenido img {
  width: 70%;
  height: auto;
  margin-top: 25px;
  object-fit: cover;
}
.contenido h2 {
  color: salmon;
}

/* -------- footer -------- */
footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  gap: 10px;
}
footer .navegacion {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
footer .navegacion h3 {
  text-align: center;
}
footer .navegacion ul {
  width: 100%;
}
footer .navegacion ul li {
  list-style: none;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
footer .navegacion ul li .p1 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 1/2;
  position: relative;
}
footer .navegacion ul li .p2 {
  text-decoration: none;
  color: blanchedalmond;
  grid-column: 2/3;
  position: relative;
  bottom: 100px;
}
footer .pagos {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer .pagos h3 {
  text-align: center;
}
footer .pagos p {
  font-weight: 500;
  position: relative;
  left: 40px;
}
footer .envios {
  grid-column: 2/3;
  grid-row: 2/3;
}
footer .envios h3 {
  text-align: center;
}
footer .contacto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
footer .contacto h3 {
  text-align: center;
}
footer .contacto p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .carruzel {
    height: 200px;
  }
  .carruzel .img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  h1 {
    margin-top: 50px;
  }
  .contenido {
    display: flex;
    display: grid;
    width: 100%;
    height: 70vh;
    margin-top: -20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80% 20%;
    overflow: hidden;
  }
  .contenido .img1 {
    grid-column: span 1;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .contenido .img1:hover {
    transform: scale(1.2);
  }
  .contenido .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .contenido .img2:hover {
    transform: scale(1.2);
  }
  .contenido .img3 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  .contenido .img3:hover {
    transform: scale(1.2);
  }
  .contenido .smartwatch {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .contenido .celulares {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .contenido .auriculares {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 100px;
  }
  .contenido h2 {
    color: salmon;
  }
  footer {
    margin-top: -20px;
    height: 30vh;
  }
  footer .navegacion h3 {
    text-align: center;
  }
  footer .navegacion ul li .p1 {
    position: relative;
    left: 70px;
  }
  footer .navegacion ul li .p2 {
    position: relative;
    left: 40px;
  }
  footer .pagos p {
    position: relative;
    left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  footer .navegacion {
    position: relative;
    bottom: 50px;
  }
  footer .navegacion ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .navegacion ul li {
    margin: 0 2px;
  }
  footer .navegacion ul li .p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  footer .navegacion ul li .p2 {
    position: relative;
    top: 20px;
    margin-left: -60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  footer .pagos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  footer .pagos p {
    flex-direction: row;
  }
}
/* ----------PRODUCTOS-------------*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
.product {
  position: relative;
  text-align: right;
  margin-right: 50px;
  margin-top: -20px;
  padding: 20px;
  color: salmon;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

.menu h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  color: salmon;
}

.tecno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 15% 30% 15%;
  gap: 20px;
  width: 100%;
  height: auto;
  margin-left: -10px;
}
.tecno .imgA {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgB {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgC {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno .imgD {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 1px saddlebrown;
}
.tecno p {
  text-align: center;
  margin-top: 20%;
  color: aquamarine;
}

@media screen and (min-width: 600px) {
  .tecno .imgA, .tecno .imgB, .tecno .imgC, .tecno .imgD {
    width: 80%;
    margin-left: 5%;
  }
  .tecno p {
    margin-right: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .tecno {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80% 18%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    object-fit: cover;
  }
  .tecno .imgA {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .tecno .imgB {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .tecno .imgC {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .tecno .imgD {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
  }
  .tecno .nombreA {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreB {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreC {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  .tecno .nombreD {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    margin-top: -2%;
  }
  footer {
    margin-top: 5%;
  }
}
/* ------------ HTML de Contactos ---------------- */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandir_input {
  to {
    width: 200px;
    height: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacto {
  background-color: gray;
  margin-left: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-areas: "nav nav nav" "cont1 cont1 cont1" "cont2 cont2 cont2" "footer footer footer";
}
.contacto header {
  grid-area: nav;
}
.contacto .cont1 {
  grid-area: cont1;
}
.contacto .cont2 {
  grid-area: cont2;
}
.contacto footer {
  grid-area: footer;
}
.contacto header nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.contacto header nav ul {
  list-style: none;
}
.contacto header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
.contacto .cont1 .redes {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.contacto .cont1 .redes .p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  font-size: 20px;
  align-self: center;
}
.contacto .cont1 .redes .p1 img {
  width: 10%;
  height: auto;
  justify-self: center;
  align-items: center;
}
.contacto .cont1 .redes .p2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 20px;
  align-self: center;
}
.contacto .cont1 .redes .p2 img {
  width: 10%;
  height: auto;
  position: relative;
  top: 10px;
}
.contacto .cont1 .redes .p3 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.contacto .cont1 .redes .p3 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contacto .cont1 .redes .p4 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.contacto .cont1 .redes .p4 img {
  width: 10%;
  position: relative;
  top: 10px;
}
.contacto .cont2 {
  width: 100%;
  height: 60vh;
  display: block;
  flex-direction: column;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  border: solid 3px black;
  padding: 15px;
  margin-top: 30px;
}
.contacto .cont2 .input1 {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 20px;
}
.contacto .cont2 .escribir {
  border: solid 3px black;
}
.contacto .cont2 .enviar {
  display: flex;
  width: 15%;
  height: 30%;
  background-color: cornflowerblue;
  justify-self: center;
  align-self: center;
  justify-content: center;
  margin: 15px;
}
.contacto .cont2 button[type=submit]:hover {
  cursor: pointer;
}
.contacto footer {
  margin-top: 40px;
  margin-left: 10px;
}
.contacto footer .navegacion ul {
  margin-top: 15px;
  margin-left: 10px;
}
.contacto footer .pagos p {
  margin: 10px;
}
.contacto footer .contacto {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    object-fit: contain;
  }
  .contacto header nav ul li a {
    font-size: 30px;
    text-align: center;
  }
  .contacto .cont1 .redes .p1 {
    font-weight: 600;
  }
  .contacto .cont1 .redes .p2 {
    font-weight: 600;
  }
  .contacto .cont1 .redes .p3 {
    font-weight: 600;
  }
  .contacto .cont1 .redes .p4 {
    font-weight: 600;
  }
  .contacto .cont1 .h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .contacto .cont2 {
    width: 70%;
    padding: 20px;
    border: solid 4px black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 15%;
  }
  .contacto .cont2 .escribir {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  .contacto .cont2 .enviar {
    width: 10%;
    height: 40%;
  }
  .contacto footer {
    margin-top: 50px;
    height: 30vh;
  }
  .contacto footer .navegacion h3 {
    text-align: center;
    font-size: x-large;
  }
  .contacto footer .navegacion ul li .p1 {
    position: relative;
    left: 70px;
  }
  .contacto footer .navegacion ul li .p2 {
    position: relative;
  }
  .contacto footer .pagos h3 {
    font-size: x-large;
  }
  .contacto footer .pagos p {
    position: relative;
    left: 100px;
  }
  .contacto footer .contacto {
    position: relative;
    bottom: 15px;
  }
  .contacto footer .contacto h3 {
    font-size: x-large;
  }
  .contacto footer .contacto p {
    margin-top: 10px;
  }
  .contacto footer .envios {
    text-align: center;
  }
  .contacto footer .envios h3 {
    font-size: x-large;
  }
}
@media screen and (min-width: 1024px) {
  .contacto .cont2 {
    width: 60%;
    margin-left: 20%;
  }
  .contacto footer {
    margin-top: 10%;
  }
}

/*# sourceMappingURL=estiloss.css.map */
